
#home .slider {
    box-shadow: var(--box-shadow);
    background-color: var(--filter-black-8);
    position: relative;
    overflow: hidden;
}

#home .slider-wrapper {
    position: relative;
}

#home .slider-wrapper__slide {
    display: none;
    animation: fader 1s linear;
}

#home .slider-wrapper__slide.active {
    display: block;
}

#home .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 90%;
}

#home .slide__content h3 {
    display: none;
    font-size: var(--slide-content-size);
    font-weight: var(--slide-content-weight);
    color: var(--blue);
    animation: trenxuong 2s ease;
}
#home .slider-wrapper__slide.active .slide__content h3 {
    display: block;
}

#home .slide__content span {
    display: none;
    font-size: calc(var(--slide-content-size) - 3rem);
    font-weight: calc(var(--slide-content-weight) - 100);
    color: var(--yellow);
    animation: trenxuong 2s ease;
}

#home .slider-wrapper__slide.active .slide__content span {
    display: block;
}

#home .slide__content p {
    display: none;
    font-size: calc(var(--slide-content-size) - 4rem);
    font-weight: calc(var(--slide-content-weight) - 300);
    text-align: center;
    color: #fff;
    padding: 2.5rem 0;
    line-height: 1.5;
    animation: duoilen 2s ease;
}

#home .slider-wrapper__slide.active .slide__content p {
    display: block;
}

#home .slide__imageBox {
    position: relative;
    line-height: 0;
}

#home .slide__imageBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--filter-black-8);
}

#home .slide__image {
    width: 100%;
    height: calc(100vh - var(--height-nav));
    object-fit: cover;
}

#home .slide__btn {
    display: none;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    animation: duoilen 2s ease;
    transition: all 0.3s ease;
}

#home .slide__btn:hover {
    background: var(--yellow);
}

#home .slider-wrapper__slide.active .slide__btn {
    display: inline-block;
}

#home .slider-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}

#home .slider-controls li {
    list-style: none;

    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home .slider-controls li:hover i {
    color: var(--yellow);
}

#home .slider-controls .btn {
    background-color: transparent;
}

#home .slider-controls i {
    font-size: 4rem;
    color: var(--primary-color);
}

#home .slider:hover .slider-controls {
    opacity: 1;
}

#home .slider-dots {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -140%);
    z-index: 10;

    display: flex;
}

#home .slider-dots li {
    cursor: pointer;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1.5px solid var(--primary-color);
    border-radius: 50%;
    margin-right: 2rem;
    transition: all 0.5s ease;
}

#home .slider-dots li:last-child {
    margin-right: 0;
}

#home .slider-dot-item.active {
    opacity: 1;
    background-color: var(--primary-color);
    border: 1.5px solid var(--yellow);
}

/* category */
#home .category {
    width: 100%;
    padding: calc(2rem + var(--height-nav)) 2rem 0rem;
}
#home .category-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#home .category-header .heading {
    font-size: 3.5rem;
    text-align: center;
    color: var(--primary-color);
    padding: 0 1.5rem;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 5px;
}

#home .category-header .content {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

#home .category-box {
    --spacing: 20px;
    --column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: calc(-1 * var(--spacing));
}
#home .category-box > * {
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    width: calc((100% / var(--column)) - var(--spacing));
}
#home .category-item {
    position: relative;
    overflow: hidden;
}

#home .category-item:hover .category-image {
    transform: scale(1.5) rotate(5deg);
}

#home .category-image__box {
    width: 100%;
    height: 26rem;
}

#home .category-image__box::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    height: 100%;
    width: 100%;

    background-color: var(--filter-black-3);
    cursor: pointer;
}

#home .category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    cursor: pointer;
    transform: scale(1);
    transition: 2s ease-in-out;
}

#home .category-image img {
    display: block;
    max-width: 100%;
}

#home .category-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    width: 100%;
    font-size: 5rem;
    text-align: center;

    color: var(--text-white);
    text-shadow: 0 0 15px var(--yellow);
    cursor: pointer;
}


#home .category-content::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    background-color: var(--filter-black-6);
}


#home .btn-load {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 5rem;
    padding: 1.4rem 4rem;
    border-radius: 0%;
    transition: all 0.3s ease;
}




/* animation */
@keyframes fader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes trenxuong {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes duoilen {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
